@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text:white;
  --navbg:#232327;
  --icon-color:white;
  --inbg:var(--navbg);
  --bg:#151515;
}

[data-theme="light"] {
  
  --bg: #ffffff; /* Light background */
  --text: #1a1a1a; /* Dark text */
  --navbg: #4e5e7d; /* Navbar background */
  --icon-color: #1a1a1a; /* Icon color */
}
li{
  list-style: none;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bg);
}
.SearchElement{
  border: solid rgba(255, 255, 255, 0.491) 2px; ;
  font-size: 16px;
  color: white;
  background-color: var(--inbg);
  background-image: url('/searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  background-size: 30px;
}
.SearchElement:focus{
  outline: none;
  z-index: 2;
}
.ContainSrc{
  top: 130px;
  position: absolute;
  z-index: 1;
  border-bottom-right-radius:20px ;
  border-bottom-left-radius: 20px;
  background: #c6c6c6;
  color: var(--navbg);
  padding: 20px;
}
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dotactive{
  
  cursor: pointer;
  height: 10px;
  width: 25px;
  margin: 0 2px;
  background-color: #E35456;
  border-radius: 20px;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.navABS{
  height: 86px;
  width: 100%;
  background-color: var(--navbg);
  display: flex;

}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
img{
  max-width: unset;
}
.prose {
  color: var(--text);
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  color: var(--text);
}

.prose a {
  color: #3b82f6; /* Blue-500 */
  text-decoration: underline;
}

.prose a:hover {
  color: #2563eb; /* Blue-600 */
}
@media (max-width:500px) {
}